name: onPullRequestClose

on:
  pull_request:
    types: closed

env:
  SITE_DOMAIN: gnowth-boilerplate-preview-${{ github.event.number }}.surge.sh
  SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
  SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}

jobs:
  clean_preview:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup
      - run: npm run cd:project:nextjs:teardown
