name: onPullRequest

on: pull_request

env:
  ARTIFACT_PATH_TEST_MEDIA_PLAYWRIGHT: artifact/test-media-playwright
  BASE_URL_TEST: https://gnowth-boilerplate-preview-${{ github.event.number }}.surge.sh
  SITE_DOMAIN: gnowth-boilerplate-preview-${{ github.event.number }}.surge.sh
  SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
  SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
  NEXT_PUBLIC_ENV: development
  STYLEGUIDE_CHROMATIC_TOKEN: ${{ secrets.STYLEGUIDE_CHROMATIC_TOKEN }}

jobs:
  workspace_lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup
      - run: npm run ci:check:lint

  workspace_test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup
      - run: npm run ci:check:test

  workspace_typecheck:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup
      - run: npm run ci:check:typecheck

  workspace_build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup
      - run: npm run ci:build

  nextjs_build_preview_and_e2e:
    container:
      image: mcr.microsoft.com/playwright:v1.46.0-jammy
      options: --user 1001
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup
      - run: npm run ci:project:nextjs:build
      - run: npm run ci:e2e:mock
      - run: npm run cd:project:nextjs:deploy
      - uses: ./.github/actions/issue-comment
        with:
          body: Preview ${{ github.sha }} at <https://${{ env.SITE_DOMAIN }}>
      - run: npm run ci:e2e:smoke

      - name: Upload test artifact playwright
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: artifact-test-media-playwright
          path: ${{ env.ARTIFACT_PATH_TEST_MEDIA_PLAYWRIGHT }}
          retention-days: 1

  styleguide_build_and_e2e:
    container:
      image: mcr.microsoft.com/playwright:v1.46.0-jammy
      options: --user 1001
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup
      - run: npm run ci:project:storybook:build
      - run: npm run ci:project:storybook:e2e

  styleguide_build_and_publish:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/workspace-setup
      - uses: chromaui/action@v11
        with:
          buildScriptName: build-ci
          exitOnceUploaded: true
          projectToken: ${{ env.STYLEGUIDE_CHROMATIC_TOKEN }}
          workingDir: packages/boilerplate-styleguide
          zip: true
