name: onPullRequestClose

on:
	pull_request:
		types: closed

env:
	SITE_DOMAIN: gnowth-boilerplate-preview-${{ github.event.number }}.surge.sh
	SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
	SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}

jobs:
	# Phase 1: Clean preview environment
	clean_preview:
		container:
			image: node:17.5.0-buster-slim
			options: --user 1001
		runs-on: ubuntu-latest
		timeout-minutes: 15
		steps:
			- name: Check out repository
				uses: actions/checkout@v3

			- name: Cache npm cache on linux
				uses: actions/cache@v2
				with:
					path: ~/.cache
					key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
					restore-keys: ${{ runner.os }}-setup-

			- name: Installing node modules
				run: npm run ci:setup

			- name: Clean preview environment
				run: npm run ci:deploy:cleanup
