name: onPush

on: push

env:
  ARTIFACT_PATH_TEST_MEDIA_CYPRESS: packages/boilerplate-cypress/cypress/media
  NODE_VERSION: 18.7.0
  STYLEGUIDE_CHROMATIC_TOKEN: ${{ secrets.STYLEGUIDE_CHROMATIC_TOKEN }}

jobs:
  quality:
    if: ${{ github.ref == 'refs/heads/main' || startsWith( github.ref, 'refs/heads/release-' ) }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Quality check
        run: echo Quality check

  security:
    if: ${{ github.ref == 'refs/heads/main' || startsWith( github.ref, 'refs/heads/release-' ) }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Security check
        run: echo Security check

  # Phase 1: Verify code
  lint:
    container:
      image: node:18.7.0-bullseye-slim
      options: --user 1001
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Cache npm cache on linux
        uses: actions/cache@v3
        with:
          path: ~/.cache
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      - name: build recipe cms
        run: npm run ci:project:tinacms:build

      - name: Lint workspaces
        run: npm run ci:check:lint

  test:
    container:
      image: node:18.7.0-bullseye-slim
      options: --user 1001
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Cache npm cache on linux
        uses: actions/cache@v3
        with:
          path: ~/.cache
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Test workspaces
        run: npm run ci:check:test

  typecheck:
    container:
      image: node:18.7.0-bullseye-slim
      options: --user 1001
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Cache npm cache on linux
        uses: actions/cache@v3
        with:
          path: ~/.cache
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      - name: build recipe cms
        run: npm run ci:project:tinacms:build

      - name: Type check workspaces
        run: npm run ci:check:typecheck

  build:
    container:
      image: node:18.7.0-bullseye-slim
      options: --user 1001
    if: ${{ github.ref != 'refs/heads/main' && !startsWith( github.ref, 'refs/heads/release-' ) }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Cache npm cache on linux
        uses: actions/cache@v3
        with:
          path: ~/.cache
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Build projects
        run: npm run ci:build

  build_and_e2e_mock:
    container:
      image: cypress/base:14.19.0
      options: --user 1001
    if: ${{ github.ref == 'refs/heads/main' || startsWith( github.ref, 'refs/heads/release-' ) }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Cache npm cache on linux
        uses: actions/cache@v3
        with:
          path: ~/.cache
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Build website
        run: npm run ci:project:nextjs:build

      - name: End to end test using mock
        run: npm run ci:project:cypress:e2e:mock

      - name: Upload test artifact
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: artifact-test-media-cypress
          path: ${{ env.ARTIFACT_PATH_TEST_MEDIA_CYPRESS }}
          retention-days: 1

  styleguide_build_and_e2e:
    container:
      image: cypress/base:14.19.0
      options: --user 1001
    if: ${{ github.ref == 'refs/heads/main' || startsWith( github.ref, 'refs/heads/release-' ) }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Cache npm cache on linux
        uses: actions/cache@v3
        with:
          path: ~/.cache
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Build styleguide
        run: npm run ci:project:storybook:build

      - name: End to end test on styleguide
        run: npm run ci:project:storybook:e2e

  styleguide_build_and_publish:
    if: ${{ !startsWith( github.ref, 'refs/heads/dependabot' ) && !startsWith( github.ref, 'refs/heads/renovate' ) }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Cache npm cache on linux
        uses: actions/cache@v3
        with:
          path: ~/.cache
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          buildScriptName: build-ci
          exitOnceUploaded: true
          projectToken: ${{ env.STYLEGUIDE_CHROMATIC_TOKEN }}
          workingDir: packages/boilerplate-storybook
          zip: true
