name: onPushMain

on:
  push:
    branches:
      - 'main'
      - 'release-**'

env:
  ARTIFACT_PATH_TEST_MEDIA_PLAYWRIGHT: artifact/test-media-playwright
  STYLEGUIDE_CHROMATIC_TOKEN: ${{ secrets.STYLEGUIDE_CHROMATIC_TOKEN }}

jobs:
  quality:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - run: echo Quality check

  security:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - run: echo Security check

  workspace_lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup
      - run: npm run ci:check:lint

  workspace_test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup
      - run: npm run ci:check:test

  workspace_typecheck:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup
      - run: npm run ci:check:typecheck

  build_and_e2e_mock:
    container:
      image: mcr.microsoft.com/playwright:v1.47.2-jammy
      options: --user 1001
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup

      - name: Build website
        run: npm run ci:project:web:build

      - name: End to end test using mock
        run: npm run ci:e2e:mock

      - name: Upload test artifact playwright
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: artifact-test-media-playwright
          path: ${{ env.ARTIFACT_PATH_TEST_MEDIA_PLAYWRIGHT }}
          retention-days: 1

  styleguide_build_and_e2e:
    container:
      image: mcr.microsoft.com/playwright:v1.47.2-jammy
      options: --user 1001
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup
      - run: npm run ci:project:storybook:build
      - run: npm run ci:project:storybook:e2e

  styleguide_build_and_publish:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/workspace-setup
      - uses: chromaui/action@v11
        with:
          autoAcceptChanges: 'main'
          buildScriptName: build-ci
          exitOnceUploaded: true
          projectToken: ${{ env.STYLEGUIDE_CHROMATIC_TOKEN }}
          workingDir: packages/boilerplate-styleguide
          zip: true
