name: onPush

on: push

env:
  ARTIFACT_PATH_TEST_MEDIA: packages/boilerplate-cypress/cypress/media
  NODE_VERSION: 16.4.0

jobs:
  # Phase 1: Setup
  setup:
    container: node:16.4.0-buster-slim
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Cache npm cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Cache cypress cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-cypress-

      - name: Installing node modules
        run: npm run ci:setup

  quality:
    if: ${{ github.ref == 'refs/heads/main' || startsWith( github.ref, 'refs/heads/release-' ) }}
    runs-on: ubuntu-latest
    steps:
      - name: Quality check
        run: echo Quality check

  security:
    if: ${{ github.ref == 'refs/heads/main' || startsWith( github.ref, 'refs/heads/release-' ) }}
    runs-on: ubuntu-latest
    steps:
      - name: Security check
        run: echo Security check

  # Phase 2: Verify code
  lint:
    container: node:16.4.0-buster-slim
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Cache npm cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Cache cypress cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-cypress-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Lint workspaces
        run: npm run workspaces:lint

  test:
    container: node:16.4.0-buster-slim
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Cache npm cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Cache cypress cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-cypress-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Test workspaces
        run: npm run workspaces:test

  typecheck:
    container: node:16.4.0-buster-slim
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Cache npm cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Cache cypress cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-cypress-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Type check workspaces
        run: npm run workspaces:typecheck

  build:
    container:
      image: node:16.4.0-buster
      options: --user 1001
    if: ${{ github.ref != 'refs/heads/main' && !startsWith( github.ref, 'refs/heads/release-' ) }}
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Cache npm cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Cache cypress cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-cypress-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Build projects
        run: npm run workspaces:build

  build_and_e2e_mock:
    container:
      image: cypress/base:14.17.0
      options: --user 1001
    if: ${{ github.ref == 'refs/heads/main' || startsWith( github.ref, 'refs/heads/release-' ) }}
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Cache npm cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Cache cypress cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-cypress-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Build projects
        run: npm run workspaces:build

      - name: End to end test using mock
        run: npm run ci:test:mock

      - name: Upload test artifact
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: artifact-test-media
          path: ${{ env.ARTIFACT_PATH_TEST_MEDIA }}
          retention-days: 1
