name: scheduleOrTriggerRegressionTest

# @ 2pm UTC
on:
  schedule:
    - cron: 0 14 1 * *
  workflow_dispatch:

env:
  ARTIFACT_PATH_TEST_MEDIA: packages/boilerplate-cypress/cypress/media
  CYPRESS_BASEURL: https://gnowth-boilerplate-test.surge.sh
  NODE_VERSION: 18.6.0
  SITE_DOMAIN: gnowth-boilerplate-test.surge.sh
  SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
  SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
 # Note: to be removed when backend is available
  NEXT_PUBLIC_ENV: development

jobs:
  build_deploy:
    container:
      image: node:18.6.0-bullseye-slim
      options: --user 1001
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Cache npm cache on linux
        uses: actions/cache@v3
        with:
          path: ~/.cache
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Build projects
        run: npm run ci:build

      - name: Deploy to test
        run: npm run cd:website:deploy

  e2e_regression:
    container:
      image: cypress/browsers:node14.17.0-chrome91-ff89
      options: --user 1001
    needs: [build_deploy]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          - title: chrome
            command: npm run ci:e2e:regression:chrome
          - title: chrome-mobile
            command: npm run ci:e2e:regression:chrome:mobile
          - title: firefox
            command: npm run ci:e2e:regression:firefox
          - title: firefox-mobile
            command: npm run ci:e2e:regression:firefox:mobile
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Cache npm cache on linux
        uses: actions/cache@v3
        with:
          path: ~/.cache
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      - name: End to end regression tests for ${{ matrix.title }}
        run: ${{ matrix.command }}

      - name: Upload test artifact
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: artifact-test-media-${{ matrix.title }}
          path: ${{ env.ARTIFACT_PATH_TEST_MEDIA }}
          retention-days: 1

  clean_test:
    container:
      image: node:18.6.0-bullseye-slim
      options: --user 1001
    if: always()
    needs: [build_deploy, e2e_regression]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Cache npm cache on linux
        uses: actions/cache@v3
        with:
          path: ~/.cache
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Clean up test environment
        run: npm run cd:website:deploy:cleanup
