name: triggerDeployToDev

on: workflow_dispatch

env:
  ARTIFACT_PATH_TEST_MEDIA: packages/boilerplate-cypress/cypress/media
  CYPRESS_BASEURL: https://gnowth-boilerplate-dev.surge.sh
  NODE_VERSION: 16.4.0
  SITE_DOMAIN: gnowth-boilerplate-dev.surge.sh
  SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
  SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}

jobs:
  deploy_to_dev:
    container:
      image: cypress/base:14.17.0
      options: --user 1001
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Cache npm cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Cache cypress cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-cypress-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Build projects
        run: npm run workspaces:build:dev

      - name: Deploy to dev
        run: npm run ci:deploy

      - name: End to end smoke test
        run: npm run ci:test:smoke

      - name: Upload test artifact
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: artifact-test-media
          path: ${{ env.ARTIFACT_PATH_TEST_MEDIA }}
          retention-days: 1
