name: triggerBuildArtifact

on:
  workflow_dispatch:
    inputs:
      release_beta:
        description: Create a beta release (yes/NO)?
        default: 'no'
        required: false

jobs:
  # Phase 0: Branch check
  check_branch:
    if: ${{ !startsWith( github.ref, 'refs/heads/release-' ) }}
    runs-on: ubuntu-latest
    steps:
      - name: Cancelling
        uses: andymckay/cancel-action@0.2
      - name: Cancelling - Input [Release beta] is invalid
        if: ${{ github.event.inputs.release_beta != 'no' && github.event.inputs.release_beta != 'yes' }}
        uses: andymckay/cancel-action@0.2

  # Phase 1: Build artifact
  build_artifact:
    container:
      image: node:16.4.0-buster-slim
      options: --user 1001
    needs: check_branch
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Cache npm cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      # TODO: create beta version depending on input
      - name: Tag branch and create change log
        run: echo npm run ci:version

      - name: Build projects
        run: npm run workspaces:build

      # TODO: could be part of ci:artifact:release
      - name: Remove ignore on build and node modules
        run: echo remove ignore on build and node modules

      # TODO: make commit an orphan? commit should not be part of release branch
      - name: Release build artifact
        run: npm run ci:artifact:release
