name: triggerPromoteArtifact

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag name (gnowth@*)
        required: true

      environment:
        description: Environment to deploy to (DEV/sit/uat/prod)
        default: dev
        required: false

      skip_deploy:
        description: Skip deploy (yes/NO)
        default: 'no'
        required: false

      skip_e2e:
        description: Skip e2e regression test (yes/NO)
        default: 'no'
        required: false

      skip_migration:
        description: Skip database migration (YES/no)
        default: 'yes'
        required: false

env:
  ARTIFACT_PATH_TEST_MEDIA: packages/boilerplate-cypress/cypress/media
  CYPRESS_BASEURL: https://gnowth-boilerplate-${{ github.event.inputs.environment }}.surge.sh
  NODE_VERSION: 16.4.0
  SITE_DOMAIN: gnowth-boilerplate-preview-${{ github.event.inputs.environment }}.surge.sh
  SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
  SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}

jobs:
  # Phase 0: Branch check
  check_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Cancelling - Branch must either be a main/release branch
        if: ${{ github.ref != 'refs/heads/main' && !startsWith( github.ref, 'refs/heads/release-' ) }}
        uses: andymckay/cancel-action@0.2

      - name: Cancelling - Input [Environment] is invalid
        if: ${{ github.event.inputs.environment != 'dev' && github.event.inputs.environment != 'sit' && github.event.inputs.environment != 'uat' && github.event.inputs.environment != 'prod' }}
        uses: andymckay/cancel-action@0.2

      - name: Cancelling - Input [Tag name] is invalid
        if: ${{ !startsWith( github.event.inputs.tag, 'gnowth@' ) }}
        uses: andymckay/cancel-action@0.2

      - name: Cancelling - Input [Skip deploy] is invalid
        if: ${{ github.event.inputs.skip_deploy != 'no' && github.event.inputs.skip_deploy != 'yes' }}
        uses: andymckay/cancel-action@0.2

      - name: Cancelling - Input [Skip e2e] is invalid
        if: ${{ github.event.inputs.skip_e2e != 'no' && github.event.inputs.skip_e2e != 'yes' }}
        uses: andymckay/cancel-action@0.2

      - name: Cancelling - Input [Skip migration] is invalid
        if: ${{ github.event.inputs.skip_migration != 'no' && github.event.inputs.skip_migration != 'yes' }}
        uses: andymckay/cancel-action@0.2

  # Phase 1: Deploy
  deploy:
    container: node:16.4.0-buster-slim
    if: github.event.inputs.skip_deploy == 'no'
    needs: check_branch
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.environment }}
      url: ${{ env.SITE_DOMAIN }}
    steps:
      - name: Download release artifact
        uses: dsaltares/fetch-gh-release-asset@0.06
        with:
          version: tags/${{ github.event.inputs.tag }}
          file: artifact.zip
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Extracting artifact
        uses: montudor/action-zip@v1
        with:
          args: unzip -qq artifact.zip -d .

      - name: Cache npm cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Cache cypress cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-cypress-

      - name: Installing node modules
        run: npm run ci:setup

      - name: Deploy to given environment
        run: npm run ci:deploy

  # Phase 2: Migrate database
  migrate_database:
    container: node:16.4.0-buster-slim
    if: github.event.inputs.skip_migration == 'no'
    needs: [check_branch, deploy]
    runs-on: ubuntu-latest
    steps:
      - name: Download release artifact
        uses: dsaltares/fetch-gh-release-asset@0.06
        with:
          version: tags/${{ github.event.inputs.tag }}
          file: artifact.zip
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Extracting artifact
        uses: montudor/action-zip@v1
        with:
          args: unzip -qq artifact.zip -d .

      - name: Database backup
        run: npm run ci:database:backup

      - name: Database add fixture
        run: npm run ci:database:fixture

      - name: Database migrate
        run: npm run ci:database:migrate

  # Phase 4: End to end regression test
  e2e_regression:
    container:
      image: cypress/browsers:node14.17.0-chrome91-ff89
      options: --user 1001
    if: github.event.inputs.skip_e2e == 'no'
    needs: [check_branch, deploy, migrate_database]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        include:
          - title: chrome
            command: npm run ci:test:regression:chrome
          - title: chrome-mobile
            command: npm run ci:test:regression:chrome:mobile
          - title: firefox
            command: npm run ci:test:regression:firefox
          - title: firefox-mobile
            command: npm run ci:test:regression:firefox:mobile
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Download release artifact
        uses: dsaltares/fetch-gh-release-asset@0.06
        with:
          version: tags/${{ github.event.inputs.tag }}
          file: artifact.zip
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Extracting artifact
        uses: montudor/action-zip@v1
        with:
          args: unzip -qq artifact.zip -d .

      - name: Cache npm cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Cache cypress cache on linux
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-cypress-

      - name: Installing node modules
        run: npm run ci:setup

      - name: End to end regression tests for ${{ matrix.title }}
        run: ${{ matrix.command }}

      - name: Upload test artifact
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: artifact-test-media-${{ matrix.title }}
          path: ${{ env.ARTIFACT_PATH_TEST_MEDIA }}
          retention-days: 1
