name: triggerRegressionTest

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag name (gnowth@*)
        required: true

      environment:
        description: Environment to deploy to (DEV/sit/sys/uat/prod)
        default: dev
        required: false

env:
  ARTIFACT_PATH_TEST_MEDIA_CYPRESS: artifact/test-media-cypress
  ARTIFACT_PATH_TEST_MEDIA_PLAYWRIGHT: artifact/test-media-playwright
  BASE_URL_TEST: https://gnowth-boilerplate-${{ github.event.inputs.environment }}.surge.sh
  NODE_VERSION: 20.5.0

jobs:
  # Phase 1: Branch check
  check_branch:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Cancelling - Branch must either be a main/release branch
        if: ${{ github.ref != 'refs/heads/main' && !startsWith( github.ref, 'refs/heads/release-' ) }}
        uses: andymckay/cancel-action@0.5

      - name: Cancelling - Input [Environment] is invalid
        if: ${{ github.event.inputs.environment != 'dev' && github.event.inputs.environment != 'sit' && github.event.inputs.environment != 'sys' && github.event.inputs.environment != 'uat' && github.event.inputs.environment != 'prod' }}
        uses: andymckay/cancel-action@0.5

      - name: Cancelling - Input [Tag name] is invalid
        if: ${{ !startsWith( github.event.inputs.tag, 'gnowth@' ) }}
        uses: andymckay/cancel-action@0.5

  # Phase 2: End to end regression test
  e2e_regression:
    container: cypress/browsers:node14.17.0-chrome91-ff89
    needs: [check_branch]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          - title: cypress-chromium
            command: npm run workspace:cypress test:regression:chromium
          - title: cypress-chromium-mobile
            command: npm run workspace:cypress test:regression:chromium-mobile
          - title: cypress-firefox
            command: npm run workspace:cypress test:regression:firefox
          - title: cypress-firefox-mobile
            command: npm run workspace:cypress test:regression:firefox-mobile
          - title: playwright-chrome
            command: npm run workspace:playwright test:regression:chromium
          - title: playwright-chrome-mobile
            command: npm run workspace:playwright test:regression:chromium-mobile
          - title: playwright-firefox
            command: npm run workspace:playwright test:regression:firefox
          - title: playwright-firefox-mobile
            command: npm run workspace:playwright test:regression:firefox-mobile
          - title: playwright-webkit
            command: npm run workspace:playwright test:regression:webkit
          - title: playwright-webkit-mobile
            command: npm run workspace:playwright test:regression:webkit-mobile
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Download release artifact
        uses: dsaltares/fetch-gh-release-asset@0.06
        with:
          version: tags/${{ github.event.inputs.tag }}
          file: artifact.zip
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Extracting artifact
        uses: montudor/action-zip@v1
        with:
          args: unzip -qq artifact.zip -d .

      - name: Cache npm cache on linux
        uses: actions/cache@v3
        with:
          path: ~/.cache-npm
          key: ${{ runner.os }}-setup-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-setup-

      - name: Installing node modules
        run: npm run ci:setup

      # DEBT(hack): Not recommended. Need to figure out how to get zip action to create file for current user rather than root
      - name: Update permission to allow cypress to create media
        run: 'chmod o+w packages/boilerplate-cypress && chmod o+w packages/boilerplate-cypress/cypress'

      - name: End to end regression tests for ${{ matrix.title }}
        run: ${{ matrix.command }}

      - name: Upload test artifact cypress
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: artifact-test-media-cypress-${{ matrix.title }}
          path: ${{ env.ARTIFACT_PATH_TEST_MEDIA_CYPRESS }}
          retention-days: 1

      - name: Upload test artifact playwright
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: artifact-test-media-playwright-${{ matrix.title }}
          path: ${{ env.ARTIFACT_PATH_TEST_MEDIA_PLAYWRIGHT }}
          retention-days: 1
