name: triggerDeployToDev

on: workflow_dispatch

env:
  ARTIFACT_PATH_TEST_MEDIA_PLAYWRIGHT: artifact/test-media-playwright
  BASE_URL_TEST: https://gnowth-boilerplate-dev.surge.sh
  SITE_DOMAIN: gnowth-boilerplate-dev.surge.sh
  SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
  SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
  NEXT_PUBLIC_ENV: development

jobs:
  deploy_to_dev:
    container:
      image: mcr.microsoft.com/playwright:v1.47.2-jammy
      options: --user 1001
    environment:
      name: dev
      url: https://${{ env.SITE_DOMAIN }}
    runs-on: ubuntu-latest
    timeout-minutes: 8
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/workspace-setup

      - name: Build projects
        run: npm run ci:build-dev

      - name: Deploy to dev
        run: npm run cd:project:web:deploy

      - name: End to end smoke test
        run: npm run ci:e2e:smoke

      - name: Upload test artifact playwright
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: artifact-test-media-playwright
          path: ${{ env.ARTIFACT_PATH_TEST_MEDIA_PLAYWRIGHT }}
          retention-days: 1
