name: triggerMigrateBackward

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag name (artifact-v*)
        required: true

jobs:
  # Phase 0: Branch check
  check_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Cancelling - Branch must either be a main/release branch
        if: ${{ github.ref != 'refs/heads/main' && !startsWith( github.ref, 'refs/heads/release-' ) }}
        uses: andymckay/cancel-action@0.2

      - name: Cancelling - Input [Tag name] is invalid
        if: ${{ !startsWith( github.event.inputs.tag, 'artifact-v' ) }}
        uses: andymckay/cancel-action@0.2

  # Phase 1: Migrate Backward
  migrate_backward:
    container: node:16.4.0-buster-slim
    needs: check_branch
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.tag }}

      - name: Database backup
        run: npm run ci:database:backup

      - name: Database migrate backward
        run: npm run ci:database:migrate:back
